:root {
  --color-primary: #213857;
  --color-background: #fff;
  --color-background-secondary: #f3f3f3;
  --spacing: 1rem;
  --spacing-table: 1rem;

  @media (min-width: 45rem) {
    --spacing: 3rem;
  }
}

html {
  background: #fff;
}

body {
  color: var(--color-primary);
  font-size: 87.5%;
  line-height: 1.2;
}

#page {
  background: transparent;
}

/* Header */
#dwwM1 {
  background: var(--color-primary);
  height: auto !important;
  padding: 1rem var(--spacing) 0;
  width: calc(100% - 2 * var(--spacing)) !important;
  left: 0 !important;
}
#dwwM1 .wbEpingle {
  margin-bottom: -3rem;
}
#dwwM1 .wbEpingle,
#dwwM1 td {
  background: transparent !important;
}
#dwwM1 .pos4 {
  margin: 0;
}
#dwwM1 .pos5 {
  display: none;
}
#dwwM1 .pos6 {
  margin: 0;
}
#dwwM1 #dzM3 {
  background: url(https://www.jungfrau.ch/typo3conf/ext/userjungfrausite/Resources/Public/Unic/prod/modules/header/media/logo.svg)
    no-repeat;
  background-size: contain;
  width: 8rem;
  height: 5.625rem;
}

/* Content */
.pos8,
.pos16,
.pos17,
.pos18 {
  margin: 1rem var(--spacing);
}
.pos8 {
  padding-top: 8rem;
}
.pos9,
.pos11,
.pos13 {
  min-width: 0;
}
.pos11,
.pos13 {
  margin-left: 1rem;
}
.pos10,
.pos12,
.pos14 {
  width: 44px;
  height: 44px;
  min-height: 0;
}
.pos8 .padding.Img {
  border: 1px solid var(--color-primary) !important;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4px;
  display: block;
}
.pos8 .dzSpan {
  height: 100%;
}
.pos15 {
  min-height: 0;
}
.pos15 table {
  height: auto !important;
}
.pos15 .TXT-Simple {
  color: inherit;
  padding-top: 4px;
}
#A2 {
  font-size: 1em;
  font-weight: bold;
}
#A2 span {
  font-size: 1em !important;
  font-weight: normal;
}
.pos16 {
  width: auto;
  min-height: 0;
}
.pos16 td,
.pos16 div {
  width: auto !important;
  height: auto !important;
}
.pos16 .padding.Simple {
  padding-right: 1rem;
}
#lzA3,
#A3,
#bzA3 {
  font-size: 1em;
}
#A3 {
  width: 20rem;
}
.pos18 {
  margin: 1rem calc(var(--spacing) - var(--spacing-table));
  width: calc(100% - 2 * (var(--spacing) - var(--spacing-table)));
}
#A8_TB > tbody > tr:nth-child(2n + 1) > td {
  background: var(--color-background-secondary);
}
.pos20 {
  margin: 0.5rem 1rem;
  width: calc(100% - 2 * 1rem);
  display: flex;
  align-items: center;
}
.pos21 {
  flex: 1;
  width: auto;
  display: flex;
  flex-direction: column;
}
.pos21 * {
  width: auto;
  float: none;
}
.pos24 {
  margin: 0;
}
.pos25 {
  min-height: 0;
}
.pos26 {
  margin: 0;
  width: auto;
}
.pos27 {
  min-width: 0;
  margin: 0;
}
.Simple {
  font-size: 1em;
  color: inherit;
}
.Edit {
  border-color: var(--color-primary);
  background: var(--color-background);
  color: inherit;
  font: inherit;
  font-size: 1em;
  height: auto;
  padding: 0.25rem 0.5rem;
}

/* Footer */
.pos29 {
  margin-top: 2rem;
  background: var(--color-primary);
  color: var(--color-background);
}
.pos29 table,
.pos29 td {
  background: transparent !important;
  color: inherit;
}
.pos29,
.pos30,
.pos31 {
  min-height: 0;
  height: auto;
}
.pos31 {
  padding: 1rem var(--spacing);
  margin: 0;
  width: auto;
  display: block;
  min-height: 0;
  float: none;
}
.Simple2-Center {
  font-size: 1em;
}

/* Post footer */
#dwwA13 table,
#dwwA1 table {
  background: var(--color-background) !important;
  border: 0 !important;
}

/* Misc */
.ui-tooltip {
  background: var(--color-primary) !important;
  color: var(--color-background) !important;
  font-size: 1em !important;
}
